@model TourGuideAdmin.Models.Tour

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_VI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_VI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_ZH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_ZH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_KO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_KO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_JA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_JA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_VI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_VI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_ZH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_ZH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_KO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_KO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description_JA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_JA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
